<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tu.sso.dao.RoleDao" >
    <resultMap id="UserResultMap" type="com.tu.sso.model.Role" >
        <id column="id" property="id" javaType="int" jdbcType="INTEGER" />
        <result column="user_id" property="userId" javaType="int" jdbcType="INTEGER" />
        <result column="role_name" property="roleName" javaType="String" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="selectSql">
        <where>
            <if test="id!=null">
               AND id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId!=null">
               AND user_id= #{userId,jdbcType=INTEGER}
            </if>
        </where>
    </sql>


    <select id="selectRole" resultMap="UserResultMap" parameterType="com.tu.sso.model.Role">
        select *
        from ROLE
       <include refid="selectSql"/>
    </select>



</mapper>